frontend-app/.next
frontend-app/node_modules
frontend-app/.env.*
frontend-app/.husky
frontend-app/.gitignore
frontend-app/README.md
frontend-app/app/(sample)

tutorial
.devcontainer
.vscode
.env.*
.gitignore
.prettierrc

Dockerfile
Makefile
MERGING.md
README.md